

body{
    height: 100vh;
    background: linear-gradient(to bottom right, #87CEFA, #FFC0CB);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


nav.menu-lateral{
    overflow: hidden;
    transition: 1s;
    width: 50px;
    height: 100%;
    background-color: rgb(0, 114, 180);
    padding: 40px 0px 40px 1%;
    box-shadow: 3px 0px 0px #ffffff5e;
    position: fixed;
    top: 0;
    left: 0;
    
}


nav.menu-lateral:hover{

    width: 250px;
}

.btn-expandir{
    width: 100%;
    padding-left: 3px;
}
.btn-expandir>i{
    color: rgb(105, 105, 105);
    font-size: 20px;
    cursor: pointer;

}

.sair{
    color: rgb(255, 255, 255) !important;
    text-decoration: none;
    font-size: 10px;
    padding: 15px 4%;
    display: flex;
    line-height: 37px;
    margin-top: auto;

}

ul li.sair:hover{
    background: #ffffff5e;
}

ul li.sair{
    position: absolute;
    bottom: 40px;
    transition: 1s;
}

ul li.sair a .icon >i{
    font-size: 20px;
}


ul{
    height: 100%;
    list-style-type:none; 
}

ul li.menu:hover{
    background: #ffffff8a;
}
ul li.menu {
    transition: 1s;
}


ul li.menu a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    padding: 15px 4%;
    display: flex;
    line-height: 37px;
    
}

ul li.menu a .txt-link{
   margin-left: 20px;
}

ul li.menu a .icon >i{
    font-size: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

h2 {
    text-align: center;
    color: #2b2b2b;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="number"] {
    width: 25%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
}

button[type="submit"] {
    width: 100%;
    background-color: #028dff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;

    font-size: 16px;
    transition: background-color 0.3s ease;
}
button[type="submit"]:hover {
    background-color: #3378c3;
}

table {
    width: 90%;
    border-collapse: collapse;
    font-family: 'Arial', sans-serif;
    margin: 20px 0;
    margin-left: 5%;
    background-color: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 3px rgba(83, 81, 81, 0.1);
}

thead {
    background-color: #686565;
    color: #fff;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #eaeaea;
}

td {
    color: #555;
}

td a {
    color: #333;
    text-decoration: none;
}

td a:hover {
    text-decoration: underline;
}

.container {
        display: flex;
        justify-content: space-between;
    }

    .container .left-column {
        flex: 0 0 calc(45% - 10px); /* Defina a largura da coluna esquerda */
    }

    .container .right-column {
        flex: 0 0 calc(75% - 10px); /* Defina a largura da coluna direita */
    }

    .container label,
    .container input {
        display: block;
        margin-bottom: 10px;
    }

    .container label {
        width: 150px;
        float: left;
    }

    .container input {
        width: calc(100% - 160px);
        float: left;
        margin-right: 10px;
    }

    .container button {
        clear: both;
    }

    ul li.sair a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    padding: 15px 4%;
    display: flex;
    line-height: 37px;
}

ul li.sair a .icon >i{
    font-size: 20px;
}

ul li.sair a .txt-link{
   margin-left: 20px;
}

ul li.sair:hover{
    background: #ffffff8a;
}
ul li.sair {
    transition: 1s;
}
.right-column {
            float: right;
            width: 45%; /* Define a largura da coluna direita */
        }
        .right-column input {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border-radius: 5px;
            border: 1px solid #ccc;
            box-sizing: border-box;
            font-size: 16px;
        }

        .right-column select {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border-radius: 5px;
            border: 1px solid #ccc;
            box-sizing: border-box;
            font-size: 16px;
        }

        .left-column {
            float: left;
            width: 45%; /* Define a largura da coluna esquerda */
        }
        .left-column input {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border-radius: 5px;
            border: 1px solid #ccc;
            box-sizing: border-box;
            font-size: 16px;
        }

        .left-column select {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border-radius: 5px;
            border: 1px solid #ccc;
            box-sizing: border-box;
            font-size: 16px;
        }