body{
    height: 100vh;
    background: linear-gradient(to bottom right, #f0f4f7, #dae8fc);
    font-family: 'Arial', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav.menu-lateral{
    overflow: hidden;
    transition: 0.5s;
    width: 50px;
    height: 100%;
    background-color: #003366;
    padding: 40px 0px 40px 1%;
    box-shadow: 3px 0px 0px #cfcfcf;
    position: fixed;
    top: 0;
    left: 0;
}

nav.menu-lateral:hover{
    width: 250px;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.logo img {
    width: 80%;
}

ul{
    height: 100%;
    list-style-type: none; 
    padding-left: 0;
}

ul li {
    transition: 0.5s;
}

ul li.menu,
ul li.sair {
    padding: 5px;
}

ul li.menu a,
ul li.sair a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 5px;
    margin-left: 1px;
    margin-bottom: 15px;
    border-radius: 5px;
}

ul li.menu:hover,
ul li.sair:hover {
    background: #00509e;
}

ul li.menu a .txt-link,
ul li.sair a .txt-link {
    margin-left: 20px;
}

ul li.menu a .icon i,
ul li.sair a .icon i {
    font-size: 20px;
}

ul li.sair {
    position: absolute;
    bottom: 40px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin-top: 20px ;
    margin-left: 25%;
}

form {
    display: flex;
    justify-content: space-between;
}

.left-column,
.right-column {
    display: flex;
    flex-direction: column;
    width: 48%;
}

label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-start;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin: 20px 5%;
    background-color: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}

thead {
    background-color: #003366;
    color: #fff;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #eaeaea;
}

td a.btn {
    margin-right: 10px;
    color: #00509e;
    text-decoration: none;
}

td a.btn:hover {
    color: #003f7f;
}

td a.btn-delete {
    color: #e74c3c;
}

td a.btn-delete:hover {
    color: #c0392b;
}


.modal-content {
    padding: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal-header {
    border-bottom: 1px solid #0074c2;
    background-color: #f0f0f0;
    padding-bottom: 15px;
}

.modal-body, .modal-footer {
    padding: 20px;
}

.modal-footer {
    border-top: 1px solid #e5e5e5;
    background-color: #f0f0f0;
    text-align: right;
}

.input-container {
    display: flex;
    justify-content: space-between;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.modal-body input[type="text"],
.modal-body input[type="number"],
.modal-body textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.modal-body button[type="submit"],
.modal-footer button {
    padding: 10px 20px;
    background-color: #239ce2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
    margin-right: 10px;
}

.modal-body button[type="submit"].btn-danger,
.modal-footer button.btn-danger {
    background-color: #dc3545;
}
