body {
    height: 100vh;
    background: linear-gradient(to bottom right, #f0f4f7, #dae8fc);
    font-family: 'Arial', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav.menu-lateral {
    overflow: hidden;
    transition: 0.5s;
    width: 65px;
    height: 100%;
    background-color: #003366;
    padding: 40px 0px 40px 1%;
    box-shadow: 3px 0px 0px #cfcfcf;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

nav.menu-lateral:hover {
    width: 250px;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.logo img {
    width: 80%;
}

ul {
    height: 100%;
    list-style-type: none;
    padding-left: 0;
}

ul li {
    transition: 0.5s;
}

ul li.menu,
ul li.sair {
    padding: 5px;
}

ul li.menu a,
ul li.sair a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 5px;
    margin-left: 1px;
    margin-bottom: 15px;
    border-radius: 5px;
}

ul li.menu:hover,
ul li.sair:hover {
    background: #00509e;
}

ul li.menu a .txt-link,
ul li.sair a .txt-link {
    margin-left: 20px;
}

ul li.menu a .icon i,
ul li.sair a .icon i {
    font-size: 20px;
}

ul li.sair {
    position: absolute;
    bottom: 40px;
}

.container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    background: #fff;
}

form {
    display: flex;
    justify-content: space-between;
}

.left-column, .right-column {
    width: 50%;
    margin-left: 27%;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input[type="text"], input[type="number"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
}

button[type="submit"] {
    width: 100%;
    background-color: #00509e;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #003f7f;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin: 20px 5%;
    background-color: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #003366;
    color: #fff;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #eaeaea;
}

td a.btn {
    margin-right: 10px;
    color: #00509e;
    text-decoration: none;
}

td a.btn:hover {
    color: #003f7f;
}

td a.btn-delete {
    color: #e74c3c;
}

td a.btn-delete:hover {
    color: #c0392b;
}

.modal-content {
    padding: 20px;
    border: none; /* Remove a borda padrão */
    border-radius: 10px; /* Adiciona bordas arredondadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave */
}

.modal-header {
    border-bottom: 1px solid #0074c2;
    background-color: #f0f0f0; /* Cor de fundo do cabeçalho */
    padding-bottom: 15px; /* Espaçamento inferior menor */
}

.modal-body, .modal-footer {
    padding: 20px; /* Espaçamento interno geral */
}

.modal-footer {
    border-top: 1px solid #e5e5e5;
    background-color: #f0f0f0; /* Cor de fundo do rodapé */
    text-align: right; /* Alinha o conteúdo do rodapé à direita */
}
/* Estilos adicionais para os inputs */
.modal-body input[type="text"],
.modal-body input[type="number"],
.modal-body textarea {
    width: 70%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Garante que o padding não aumente a largura */
}

/* Estilos adicionais para o botão */
.modal-body button[type="submit"],
    .modal-footer button {
        padding: 10px 20px;
        background-color: #0074c2;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100%; /* Define a largura do botão como 100% do contêiner */
        max-width: 200px; /* Define uma largura máxima para evitar que o botão ocupe toda a largura */
        margin-right: 10px; /* Espaçamento entre botões */
    }

    /* Estilo adicional para o botão de Excluir */
    .modal-body button[type="submit"].btn-danger,
    .modal-footer button.btn-danger {
        background-color: #dc3545; /* Cor de fundo vermelha para botão de Excluir */
    }

    .flash-message {
        position: fixed;
        top: 10%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        padding: 10px 20px;
        border-radius: 5px;
        z-index: 1000; 
        display: none; 
        transition: opacity 0.5s ease;
    }
    
    .flash-message.success {
        background-color: #28a745; 
        color: white;
    }
    
    .flash-message.error {
        background-color: #dc3545; 
        color: white;
    }

.conteudo {
            flex: 1; /* Preenche o espaço restante */
            display: flex; /* Flexbox para centralizar o conteúdo */
            justify-content: center; /* Centraliza horizontalmente */
            align-items: center; /* Centraliza verticalmente */
            background-color: transparent; /* Fundo transparente */
            height: 50vh; /* Altura total da viewport */
            margin-left: 20%;
            margin-top:10%;
            z-index: 1;
        }

        #graph {
            background-color: transparent; /* Fundo transparente para o gráfico */
            border: none; /* Remove borda se houver */
        }

        .btn-download {
            position: fixed;
            bottom: 20px; /* Distância do fundo */
            right: 20px;  /* Distância da direita */
            font-size: 16px; /* Tamanho da fonte */
            padding: 5px 10px; /* Espaçamento interno */
            background: transparent; /* Fundo transparente */
            border: none; /* Sem borda */
            color: #007bff; /* Cor do texto */
            cursor: pointer; /* Muda o cursor ao passar */
        }
    
.flash-message {
   position: fixed;
    top: 10%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000; 
    display: none; 
    transition: opacity 0.5s ease;
}
        
.flash-message.success {
    background-color: #28a745; 
    color: white;
}
        
.flash-message.error {
    background-color: #dc3545; 
    color: white;
}