<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados produtos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/5.0.6/inputmask.min.js"></script>
    <link rel="icon" type="image/x-icon" href="/static/images/tcc.jpg">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleHomepage.css') }}">
    <script src="{{ url_for('static', filename='js/scriptEditProdutos.js') }}"></script>
</head>
<body>

    <nav class="menu-lateral">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/tcc.jpg') }}" alt="Logo">
        </div>
        <ul>
            <li class="menu">
                <a href="homepage">
                <span class="icon"><i class="bi bi-box-seam"></i></span>
                <span class="txt-link"> Produtos </span>
                </a>
            </li>

            {% if permissionUser %}
            <li class="menu">
                <a href="categorias">
                <span class="icon"><i class="bi bi-list-ul"></i></span>
                <span class="txt-link"> Categorias </span>
                </a>
            </li>
            {% endif %}
            
            {% if permissionUser %}
            <li class="menu">
                <a href="fornecedores">
                <span class="icon"><i class="bi bi-truck"></i></span>
                <span class="txt-link"> Fornecedores </span>
                </a>
            </li>
            {% endif %}

            {% if permissionUser %}
            <li class="menu">
                <a href="vendedores">
                <span class="icon"><i class="bi bi-person-lines-fill"></i></i></span>
                <span class="txt-link"> Vendedores </span>
                </a>
            </li>
            {% endif %}

            <li class="menu">
                <a href="vendas">
                <span class="icon"><i class="bi bi-coin"></i></span>
                <span class="txt-link"> Vendas </span>
                </a>
            </li>

            <li class="menu">
                <a href="entradas">
                <span class="icon"><i class="bi bi-chevron-bar-right"></i></span>
                <span class="txt-link"> Entradas </span>
                </a>
            </li>


            <li class="sair">
                <a href="login">
                <span class="icon"><i class="bi bi-box-arrow-right"></i></span>
                <span class="txt-link"> Sair </span>
                </a>
            </li>
        </ul>
    </nav>

    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="flash-message {{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}

    <div class="container">
        <form action="/produtos" method="post">
        <div class="left-column">
                <label for="id">Código produto:</label>
                <input type="number" id="id" name="id" required>
    
                <label for="name">Nome do produto:</label>
                <input type="text" id="name" name="name" required>
    
                <label for="description">Descrição do produto:</label>
                <input type="text" id="description" name="description" required>

                <label for="price">Preço do produto:</label>
                <input type="number" id="price" name="price" min="0" placeholder="R$">
        </div>
        <div class="right-column">
            <label for="quantity">Quantidade do produto:</label>
            <input type="number" id="quantity" name="quantity" min="0" required>
                    
            <label for="category_id">Nome da categoria:</label>
            <select id="category_id" name="category_id" required>
                {% if idCategory %}
                    <option value=""></option>
                    {% for categoria in idCategory %}
                        
                        <option value="{{ categoria['id'] }}">{{ categoria['nome'] }}</option>
                    {% endfor %}
                {% else %}
                    <option value=""><b>Sem Categorias</b></option>
                {% endif %}
            </select>
            
            <label for="fornecedor_id">Nome do fornecedor:</label>
            <select id="fornecedor_id" name="fornecedor_id" required>
                {% if readIdFornecedores %}
                <option value=""></option>
                    {% for Fornecedores in readIdFornecedores %}    
                        <option value="{{ Fornecedores['id'] }}">{{ Fornecedores['nome'] }}</option>
                    {% endfor %}
                {% else %}
                    <option value=""><b>Sem Fornecedores</b></option>
                {% endif %}
            </select>

            <button type="submit">Salvar</button>
        </div>
        </form>
    </div>
<br>

<div class="pesquisa">
    <i class="bi bi-search" id="searchIcon"></i>
    <input type="text" id="searchInput" class="form-control" placeholder="     Pesquisar produtos..." onfocus="hideIcon()" onblur="showIcon()">
</div>
<table>
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço (Un)</th>
            <th>Quantidade</th>
            <th>Categoria</th>
            <th>Fornecedor</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody id="productTable">
        {% for listagem in lista %}
        <tr>
            <td>{{ listagem['id'] }}</td>
            <td>{{ listagem['nome'] }}</td>
            <td>{{ listagem['descricao'] }}</td>
            <td>R$ {{ listagem['preco'] }}</td>
            <td>
                <span class="{% if listagem['quantidade'] <= 5 %}text-danger{% endif %}">
                    {{ listagem['quantidade'] }}
                </span>
            </td>
            <td>{{ listagem['tipo_produto'] }}</td>
            <td>{{ listagem['nome_fornecedor'] }}</td>
            <td>
                <a href="#" class="btn btn-edit" data-bs-toggle="modal" data-bs-target="#editModal" 
                   data-id="{{ listagem['id'] }}" 
                   data-nome="{{ listagem['nome'] }}" 
                   data-descricao="{{ listagem['descricao'] }}" 
                   data-preco="{{ listagem['preco'] }}" 
                   data-quantidade="{{ listagem['quantidade'] }}" 
                   data-id_categoria="{{ listagem['tipo_produto'] }}" 
                   data-id_fornecedor="{{ listagem['nome_fornecedor'] }}">
                   <i class="bi bi-pencil"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
   

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Editar Categoria</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editForm" action="/editar/produtos" method="post">
                    <div class="input-container">
                        <div class="input-group left">
                            <div class="mb-3">
                                <label for="produtoId" class="form-label">Código</label>
                                <input type="text" class="form-control" id="produtoId" name="id" value="" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="produtoNome" class="form-label">Nome</label>
                                <input type="text" class="form-control" id="produtoNome" name="nome" value="" required>
                            </div>
                            <div class="mb-3">
                                <label for="produtoDescricao" class="form-label">Descrição</label>
                                <input type="text" class="form-control" id="produtoDescricao" name="descricao" value="" required>
                            </div>
                            <div class="mb-3">
                                <label for="produtoPreco" class="form-label">Preço</label>
                                <input type="text" class="form-control" id="produtoPreco" name="preco" value="" required>
                            </div>
                        </div>
                        <div class="input-group right">
                            <div class="mb-3">
                                <label for="produtoQuantidade" class="form-label">Quantidade</label>
                                <input type="text" class="form-control" id="produtoQuantidade" name="quantidade" value="" required>
                            </div>
                            <div class="mb-3">
                                <label for="produtoIdCategoria" class="form-label">Categoria</label>
                                <input type="text" class="form-control" id="produtoIdCategoria" name="idCategoria" value="" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="produtoIdFornecedor" class="form-label">Fornecedor</label>
                                <input type="text" class="form-control" id="produtoIdFornecedor" name="idFornecedor" value="" readonly>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="editForm" class="btn btn-primary me-2">Editar</button>
                <form id="deleteForm" action="/excluir/produtos" method="post" class="modal-footer">
                    <input type="hidden" name="id" id="produtoIdExclusao" value="">
                    <button type="submit" form="deleteForm" class="btn btn-danger">Excluir</button>
                </form>
            </div>
        </div>
    </div>
</div>




</body>
<script>
    document.getElementById('searchInput').addEventListener('keyup', function() {
    var searchValue = this.value.toLowerCase();
    var rows = document.getElementById('productTable').getElementsByTagName('tr');

    for (var i = 0; i < rows.length; i++) {
        var cells = rows[i].getElementsByTagName('td');
        if (cells.length > 0) {
            var codigoText = cells[0].textContent.toLowerCase(); 
            var nomeText = cells[1].textContent.toLowerCase(); 

            if (codigoText.indexOf(searchValue) > -1 || nomeText.indexOf(searchValue) > -1) {
                rows[i].style.display = ''; 
            } else {
                rows[i].style.display = 'none'; 
            }
        }
    }
});

document.addEventListener("DOMContentLoaded", function() {
            const flashMessages = document.querySelectorAll('.flash-message');
            flashMessages.forEach(function(message) {
                message.style.display = 'block'; 
                setTimeout(function() {
                    message.style.opacity = '0'; 
                    setTimeout(function() {
                        message.style.display = 'none'; 
                    }, 500); 
                }, 3000); 
            });
        });

</script>
</html>
