<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleLogin.css') }}">
    <title>Login</title>
</head>
<body>

    <div class="tela">
        <form action="/login" method="post">
        <h1>Login</h1>
        <input class="nome" type="text" id="username" name="username" placeholder="Username">
        <br>
        <br>
        <input class="senha" type="password" id="password" name="password" placeholder="Senha" >
        <br><br>
        <button type="submit" class="botao">Entrar</button>
  
        </form>

    </div>
    <script src="../static/js/script.js"></script>
</body>
</html>