<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleLogin.css') }}">
  <link rel="icon" type="image/x-icon" href="/static/images/tcc.jpg">
    <title>Login</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="flash-message {{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}


    <div class="login-container">
        <div class="login-image">
            <img src="/static/images/tcc.jpg" alt="Loja Splash Piscinas">
        </div>
        <div class="login-box">
            <h2>Bem-vindo à Splash Piscinas</h2>
            <form action="/login" method="POST">
                <div class="input-group">
                    <label for="username">Usuário</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="input-group">
                  <label for="password">Senha</label>
                  <div class="password-container">
                      <input type="password" id="senha" name="password" required>
                      <span class="show-password-toggle" id="togglePassword">👁️</span>
                  </div>
              </div>
                <button type="submit" class="login-button">Entrar</button>
            </form>
        </div>
    </div>
    <script>
      const togglePassword = document.querySelector('#togglePassword');
      const passwordInput = document.querySelector('#senha');

togglePassword.addEventListener('click', function () {
    // Verifica o tipo do campo de senha
    const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
    passwordInput.setAttribute('type', type);

    // Altera o ícone (opcional, apenas para experiência do usuário)
    this.textContent = type === 'password' ? '👁️' : '👁️‍🗨️';
});

document.addEventListener("DOMContentLoaded", function() {
    const flashMessages = document.querySelectorAll('.flash-message');
    flashMessages.forEach(function(message) {
        message.style.display = 'block'; 
        setTimeout(function() {
            message.style.opacity = '0'; 
            setTimeout(function() {
                message.style.display = 'none'; 
            }, 500); 
        }, 1500); 
    });
});

    </script>
</body>
</html>
