<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados Vendas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleVendas.css') }}">
    <link rel="icon" type="image/x-icon" href="/static/images/tcc.jpg">
    <script src="{{ url_for('static', filename='js/scriptEditVendas.js') }}"></script>
    <style>
    .flash-message {
        position: fixed;
        top: 10%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        padding: 10px 20px;
        border-radius: 5px;
        z-index: 1000; 
        display: none; 
        transition: opacity 0.5s ease;
    }

    .flash-message.success {
        background-color: #28a745; 
        color: white;
    }

    .flash-message.error {
        background-color: #dc3545; 
        color: white;
    }
    </style>
</head>
<body>
    <div class="alert alert-info text-center" role="alert">
        Dados de vendas de produtos  relacionadas ao mês de {{mes}}
    </div>
    <nav class="menu-lateral">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/tcc.jpg') }}" alt="Logo">
        </div>
        <ul>
            <li class="menu">
                <a href="homepage">
                <span class="icon"><i class="bi bi-box-seam"></i></span>
                <span class="txt-link"> Produtos </span>
                </a>
            </li>

            {% if permissionUser %}
            <li class="menu">
                <a href="categorias">
                <span class="icon"><i class="bi bi-list-ul"></i></span>
                <span class="txt-link"> Categorias </span>
                </a>
            </li>
            {% endif %}

            {% if permissionUser %}
            <li class="menu">
                <a href="fornecedores">
                <span class="icon"><i class="bi bi-truck"></i></span>
                <span class="txt-link"> Fornecedores </span>
                </a>
            </li>
            {% endif %}

            {% if permissionUser %}
            <li class="menu">
                <a href="vendedores">
                <span class="icon"><i class="bi bi-person-lines-fill"></i></i></span>
                <span class="txt-link"> Vendedores </span>
                </a>
            </li>
            {% endif %}

            <li class="menu">
                <a href="vendas">
                <span class="icon"><i class="bi bi-coin"></i></span>
                <span class="txt-link"> Vendas </span>
                </a>
            </li>

            <li class="menu">
                <a href="entradas">
                <span class="icon"><i class="bi bi-chevron-bar-right"></i></span>
                <span class="txt-link"> Entradas </span>
                </a>
            </li>

            <li class="sair">
                <a href="login">
                <span class="icon"><i class="bi bi-box-arrow-right"></i></span>
                <span class="txt-link"> Sair </span>
                </a>
            </li>
        </ul>
    </nav>

    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="flash-message {{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}

    <div class="container">
        <form action="/vendas" method="post">
            <div class="form-row">
                <div class="left-column">
                    <label for="qntd">Quantidade vendida (unidade):</label>
                    <input type="number" id="qntd" name="qntd" min="0" required>
                    
                    <label for="codv">Nome Vendedor:</label>
                    <select id="codv" name="codv" required>
                        {% if readIdVendedor %}
                            <option value=""></option>
                            {% for vendedor in readIdVendedor %}
                                <option value="{{ vendedor['id'] }}">{{ vendedor['nome'] }}</option>
                            {% endfor %}
                        {% else %}
                            <option value=""><b>Sem Vendedor</b></option>
                        {% endif %}
                    </select>
                </div>
                <div class="right-column">
                    <label for="cod">Nome Produto:</label>
                    <select id="cod" name="cod" class="select2" required>
                        {% if readIdProdutos %}
                            <option value=""></option>
                            {% for produto in readIdProdutos %}
                                <option value="{{ produto['id'] }}">{{ produto['nome'] }}</option>
                            {% endfor %}
                        {% else %}
                            <option value=""><b>Sem Produto</b></option>
                        {% endif %}
                    </select>
                    <script>
                        $(document).ready(function() {
                            $('#cod').select2({
                            
                                allowClear: true
                            });
                        });
                        </script>

                    <div class="button">
                        <button type="submit">Salvar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
    
    
<br>
<table>
    <thead>
        <tr>
            <th>Data</th>
            <th>Quantidade vendida (unidade)</th>
            <th>Produto</th>
            <th>Vendedor</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for listagem in lista %}
        <tr>
            <td>{{ listagem['data_venda'] }}</td>
            <td>{{ listagem['quantidade_vendida'] }}</td>
            <td>{{ listagem['nome_produto'] }}</td>
            <td>{{ listagem['nome_vendedor'] }}</td>
            <td>
                <a href="#" class="btn btn-edit" data-bs-toggle="modal" data-bs-target="#editModal" data-id="{{ listagem['id'] }}" data-qtd="{{ listagem['quantidade_vendida'] }}" data-idVendedor="{{ listagem['nome_vendedor'] }}" data-idProduto="{{listagem['nome_produto']}}" data-idP="{{listagem['id_produto']}}"><i class="bi bi-pencil"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Editar Venda</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editForm" action="/editar/vendas" method="post">
                    <div class="input-container">
                        <div class="input-group left">
                            <div class="mb-3">
                                <label for="IDVenda" class="form-label">Código Venda</label>
                                <input type="text" class="form-control" id="IDVenda" name="IDVenda" value="" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="quantidadeVendas" class="form-label">Quantidade</label>
                                <input type="number" min="0" class="form-control" id="quantidadeVendas" name="quantidadeVendas" value="" required>
                            </div>
                            <div class="mb-3">
                                <label for="codVendedor" class="form-label">Vendedor</label>
                                <input type="text" class="form-control" id="codVendedor" name="codVendedor" value="" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="codProduto" class="form-label">Produto</label>
                                <input type="text" class="form-control" id="codProduto" name="codProduto" value="" readonly>
                                <input type="hidden" name="idProduto" id="idProduto" value="">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="editForm" class="btn btn-primary me-2">Editar</button>
                <form id="deleteForm" action="/excluir/vendas" method="post" class="modal-footer">
                    <input type="hidden" name="vendasIdExclusao" id="vendasIdExclusao" value="">
                    <input type="hidden" id="quantidadeVendasEX" name="quantidadeVendasEX" value="">
                    <input type="hidden" id="codProdutoEx" name="codProdutoEx" value="">
                    <button type="submit" form="deleteForm" class="btn btn-danger">Excluir</button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>
